<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="menu" menuToggle></ion-icon> Clientes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
      <ion-card-content class="titulo1">
	      <ion-row class="text_indicator" style="height: 25%;"><strong>Último Mes</strong></ion-row>
	      <ion-row class="fila2" style="height: 50%;"><ion-icon  style="font-size: 15px;margin-right: 7px" name="cube"></ion-icon> Compradores</ion-row>
	      <ion-row id="porc" style="height: 25%;"><strong></strong></ion-row>

        <ion-row>
          <ion-col>
            <canvas #pieCanvas></canvas>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

	<div *ngIf="loaded" id="table">
    <ion-row>
      <ion-col>
        <img class="user-avatar round" src='assets/img/stars.png' style="margin-top: 100px;" />
      </ion-col>
      <ion-col>

        <ion-card>
          <ion-card-content class="titulo1">
            <ion-row class="row header">
              <ion-col><h2 style="border-bottom-style: groove;">CLIENTES</h2></ion-col>
            </ion-row> 
            <ion-row *ngFor = "let data of cl_items">
              <ion-col class="col">{{data["clientes"]}}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </div>
</ion-content>

