page-login-slider {
  .backgroundImgA {
    background-image: url('https://cdn.pixabay.com/photo/2015/06/20/07/24/color-815546_960_720.png')
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .backgroundImgB {
    background-image: url('/assets/logo1.png')
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(232, 246, 248, 0.5);
    border-radius: 5px;
  }


  .list > .item-block:first-child {
    border: medium none;
  }
  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    .item-input {
      color: #fff;
    }
    *:-moz-placeholder {
      color: #fff !important;
    }
    *:-ms-input-placeholder {
      color: #fff !important;
    }
    *::-webkit-input-placeholder {
      color: #fff !important;
    }
    input::-moz-placeholder {
      color: #fff !important;
    }
    input:-moz-placeholder {
      color: #fff !important;
    }

  }

  .botom {
    position: absolute;
    bottom: 0;
  }
}
